@import url(https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700);
@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,700);
@import url(https://fonts.googleapis.com/css?family=Lato:400,300,700);
@import url(https://fonts.googleapis.com/css?family=Lora:400,700);
@import url(https://fonts.googleapis.com/css?family=Slabo+27px);







body,
input,
textarea,
.mbr-company .list-group-text {
  font-family: 'Open Sans Condensed', sans-serif;
}
.mbr-footer-content li,
.mbr-footer .mbr-contacts li {
  font-family: 'Open Sans Condensed', sans-serif;
}
.btn,
.alert,
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
.display-1,
.display-2,
.display-3,
.display-4,
.mbr-figure .mbr-figure-caption,
.mbr-gallery-title,
.mbr-map [data-state-details],
.mbr-price {
  font-family: undefined;
}
.mbr-footer-content h1,
.mbr-footer .mbr-contacts h1,
.mbr-footer-content h2,
.mbr-footer .mbr-contacts h2,
.mbr-footer-content h3,
.mbr-footer .mbr-contacts h3,
.mbr-footer-content h4,
.mbr-footer .mbr-contacts h4,
.mbr-footer-content p strong,
.mbr-footer .mbr-contacts p strong,
.mbr-footer-content strong,
.mbr-footer .mbr-contacts strong {
  font-family: undefined;
}
.btn-sm,
.lead a,
.lead blockquote,
.mbr-section-subtitle,
.mbr-section-hero .mbr-section-lead,
.mbr-cards .card-subtitle,
.mbr-testimonial .card-block {
  font-family: 'Lora', serif;
}
.mbr-author-name {
  font-family: undefined;
}
.mbr-author-desc {
  font-family: 'Lora', serif;
}
.mbr-plan-title {
  font-family: undefined;
}
.mbr-plan-subtitle,
.mbr-plan-price-desc {
  font-family: 'Lora', serif;
}
.bg-primary {
  background-color: #494259 !important;
}
.bg-success {
  background-color: #7c706b !important;
}
.bg-info {
  background-color: #cccccc !important;
}
.bg-warning {
  background-color: #a38f84 !important;
}
.bg-danger {
  background-color: #f28281 !important;
}
.btn-primary {
  background-color: #494259;
  border-color: #494259;
  color: #ffffff;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary:active,
.btn-primary.active {
  color: #ffffff;
  background-color: #25212d;
  border-color: #25212d;
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: #ffffff !important;
  background-color: #25212d !important;
  border-color: #25212d !important;
}
.btn-secondary {
  background-color: #bfcecb;
  border-color: #bfcecb;
  color: #ffffff;
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary.focus,
.btn-secondary:active,
.btn-secondary.active {
  color: #ffffff;
  background-color: #94ada8;
  border-color: #94ada8;
}
.btn-secondary.disabled,
.btn-secondary:disabled {
  color: #ffffff !important;
  background-color: #94ada8 !important;
  border-color: #94ada8 !important;
}
.btn-info {
  background-color: #cccccc;
  border-color: #cccccc;
  color: #ffffff;
}
.btn-info:hover,
.btn-info:focus,
.btn-info.focus,
.btn-info:active,
.btn-info.active {
  color: #ffffff;
  background-color: #a6a6a6;
  border-color: #a6a6a6;
}
.btn-info.disabled,
.btn-info:disabled {
  color: #ffffff !important;
  background-color: #a6a6a6 !important;
  border-color: #a6a6a6 !important;
}
.btn-success {
  background-color: #7c706b;
  border-color: #7c706b;
  color: #ffffff;
}
.btn-success:hover,
.btn-success:focus,
.btn-success.focus,
.btn-success:active,
.btn-success.active {
  color: #ffffff;
  background-color: #534b48;
  border-color: #534b48;
}
.btn-success.disabled,
.btn-success:disabled {
  color: #ffffff !important;
  background-color: #534b48 !important;
  border-color: #534b48 !important;
}
.btn-warning {
  background-color: #a38f84;
  border-color: #a38f84;
  color: #ffffff;
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus,
.btn-warning:active,
.btn-warning.active {
  color: #ffffff;
  background-color: #7d695d;
  border-color: #7d695d;
}
.btn-warning.disabled,
.btn-warning:disabled {
  color: #ffffff !important;
  background-color: #7d695d !important;
  border-color: #7d695d !important;
}
.btn-danger {
  background-color: #f28281;
  border-color: #f28281;
  color: #ffffff;
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus,
.btn-danger:active,
.btn-danger.active {
  color: #ffffff;
  background-color: #eb3d3c;
  border-color: #eb3d3c;
}
.btn-danger.disabled,
.btn-danger:disabled {
  color: #ffffff !important;
  background-color: #eb3d3c !important;
  border-color: #eb3d3c !important;
}
.btn-primary-outline {
  background: none;
  border-color: #19171e;
  color: #19171e;
}
.btn-primary-outline:hover,
.btn-primary-outline:focus,
.btn-primary-outline.focus,
.btn-primary-outline:active,
.btn-primary-outline.active {
  color: #ffffff;
  background-color: #494259;
  border-color: #494259;
}
.btn-primary-outline.disabled,
.btn-primary-outline:disabled {
  color: #ffffff !important;
  background-color: #494259 !important;
  border-color: #494259 !important;
}
.btn-secondary-outline {
  background: none;
  border-color: #85a29c;
  color: #85a29c;
}
.btn-secondary-outline:hover,
.btn-secondary-outline:focus,
.btn-secondary-outline.focus,
.btn-secondary-outline:active,
.btn-secondary-outline.active {
  color: #ffffff;
  background-color: #bfcecb;
  border-color: #bfcecb;
}
.btn-secondary-outline.disabled,
.btn-secondary-outline:disabled {
  color: #ffffff !important;
  background-color: #bfcecb !important;
  border-color: #bfcecb !important;
}
.btn-info-outline {
  background: none;
  border-color: #999999;
  color: #999999;
}
.btn-info-outline:hover,
.btn-info-outline:focus,
.btn-info-outline.focus,
.btn-info-outline:active,
.btn-info-outline.active {
  color: #ffffff;
  background-color: #cccccc;
  border-color: #cccccc;
}
.btn-info-outline.disabled,
.btn-info-outline:disabled {
  color: #ffffff !important;
  background-color: #cccccc !important;
  border-color: #cccccc !important;
}
.btn-success-outline {
  background: none;
  border-color: #453f3c;
  color: #453f3c;
}
.btn-success-outline:hover,
.btn-success-outline:focus,
.btn-success-outline.focus,
.btn-success-outline:active,
.btn-success-outline.active {
  color: #ffffff;
  background-color: #7c706b;
  border-color: #7c706b;
}
.btn-success-outline.disabled,
.btn-success-outline:disabled {
  color: #ffffff !important;
  background-color: #7c706b !important;
  border-color: #7c706b !important;
}
.btn-warning-outline {
  background: none;
  border-color: #6e5c53;
  color: #6e5c53;
}
.btn-warning-outline:hover,
.btn-warning-outline:focus,
.btn-warning-outline.focus,
.btn-warning-outline:active,
.btn-warning-outline.active {
  color: #ffffff;
  background-color: #a38f84;
  border-color: #a38f84;
}
.btn-warning-outline.disabled,
.btn-warning-outline:disabled {
  color: #ffffff !important;
  background-color: #a38f84 !important;
  border-color: #a38f84 !important;
}
.btn-danger-outline {
  background: none;
  border-color: #e82625;
  color: #e82625;
}
.btn-danger-outline:hover,
.btn-danger-outline:focus,
.btn-danger-outline.focus,
.btn-danger-outline:active,
.btn-danger-outline.active {
  color: #ffffff;
  background-color: #f28281;
  border-color: #f28281;
}
.btn-danger-outline.disabled,
.btn-danger-outline:disabled {
  color: #ffffff !important;
  background-color: #f28281 !important;
  border-color: #f28281 !important;
}
.text-primary {
  color: #494259 !important;
}
.text-success {
  color: #7c706b !important;
}
.text-info {
  color: #cccccc !important;
}
.text-warning {
  color: #a38f84 !important;
}
.text-danger {
  color: #f28281 !important;
}
.alert-success {
  background-color: #7c706b;
}
.alert-info {
  background-color: #cccccc;
}
.alert-warning {
  background-color: #a38f84;
}
.alert-danger {
  background-color: #f28281;
}
.btn-social {
  border-color: #494259;
}
.btn-social:hover {
  background: #494259;
}
.mbr-company .list-group-item.active .list-group-text {
  color: #494259;
}
.mbr-footer p a,
.mbr-footer ul a {
  color: #494259;
}
.mbr-footer-content li::before,
.mbr-footer .mbr-contacts li::before {
  background: #494259;
}
.mbr-footer-content li a:hover,
.mbr-footer .mbr-contacts li a:hover {
  color: #494259;
}
.lead a,
.lead a:hover {
  color: #494259;
}
.lead blockquote {
  border-color: #494259;
}
.mbr-plan-header.bg-primary .mbr-plan-subtitle,
.mbr-plan-header.bg-primary .mbr-plan-price-desc {
  color: #877c9e;
}
.mbr-plan-header.bg-success .mbr-plan-subtitle,
.mbr-plan-header.bg-success .mbr-plan-price-desc {
  color: #b9b1ae;
}
.mbr-plan-header.bg-info .mbr-plan-subtitle,
.mbr-plan-header.bg-info .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-warning .mbr-plan-subtitle,
.mbr-plan-header.bg-warning .mbr-plan-price-desc {
  color: #dad1cd;
}
.mbr-plan-header.bg-danger .mbr-plan-subtitle,
.mbr-plan-header.bg-danger .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-small-footer a,
.mbr-gallery-filter li:hover {
  color: #494259;
}
.scrollToTop_wraper {
  display: none;
}
#footer1-1j P {
  color: #475577;
}
#menu-1k .hide-buttons .nav-btn {
  display: none !important;
}
#menu-1k .navbar-caption {
  color: #ffffff;
}
#menu-1k .navbar-toggler {
  color: #303134;
}
#menu-1k .link,
#menu-1k .dropdown-item {
  color: #303134;
  font-family: 'Open Sans Condensed', sans-serif;
}
#menu-1k .link {
  font-size: 0.85rem;
}
#menu-1k .dropdown-item,
#menu-1k .nav-dropdown-sm .link {
  font-size: 0.921rem;
}
#menu-1k .link:hover,
#menu-1k .dropdown-item:hover,
#menu-1k .link:focus,
#menu-1k .dropdown-item:focus {
  color: #494259;
}
#menu-1k .link[aria-expanded="true"],
#menu-1k .dropdown-menu {
  background: #000000;
}
#menu-1k .nav-dropdown-sm .link:focus,
#menu-1k .nav-dropdown-sm .link:hover,
#menu-1k .nav-dropdown-sm .dropdown-item:focus,
#menu-1k .nav-dropdown-sm .dropdown-item:hover {
  background: #000000!important;
}
#menu-1k .navbar,
#menu-1k .nav-dropdown-sm,
#menu-1k .nav-dropdown-sm .link[aria-expanded="true"],
#menu-1k .nav-dropdown-sm .dropdown-menu {
  background: #000000;
}
#menu-1k .bg-color.transparent .link {
  color: #303134;
  transition: none;
}
#menu-1k .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-1k .bg-color.transparent.opened .link:hover,
#menu-1k .bg-color.transparent.opened .link:focus {
  color: #494259;
}
#menu-1k .link[aria-expanded="true"],
#menu-1k .dropdown-item[aria-expanded="true"] {
  color: #494259!important;
}
#menu-1k.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#menu-1k .mbr-navbar__hamburger {
  color: #ffffff;
}
#menu-1k .close-icon::before,
#menu-1k .close-icon::after {
  background-color: #303134;
}
#header3-1l .mbr-section-title,
#header3-1l .mbr-section-subtitle {
  text-align: center;
}
#header3-1l SPAN {
  font-size: 32px;
  font-family: 'Roboto', sans-serif;
}
#header3-1l .mbr-section-title {
  text-align: center;
}
#header3-1l .mbr-section-title SPAN {
  font-family: 'Open Sans Condensed', sans-serif;
  color: #494259;
}
#header3-1l SMALL {
  font-family: 'Lato', sans-serif;
}
#header3-1l H3 {
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 32px;
  color: #303134;
}



#header3-3w .mbr-section-title,
#header3-3w .mbr-section-subtitle {
  text-align: center;
}
#header3-3w .mbr-section-title {
  font-size: 20px;
  text-align: center;
}
#header3-3w H3 {
  font-family: 'Open Sans Condensed', sans-serif;
  color: #303134;
  font-size: 16px;
}
#social-buttons1-13 .mbr-section-title {
  font-size: 14px;
  font-family: 'Open Sans Condensed', sans-serif;
  color: #303134;
}
#menu-0 .hide-buttons .nav-btn {
  display: none !important;
}
#menu-0 .navbar-caption {
  color: #ffffff;
}
#menu-0 .navbar-toggler {
  color: #303134;
}
#menu-0 .link,
#menu-0 .dropdown-item {
  color: #303134;
  font-family: 'Open Sans Condensed', sans-serif;
}
#menu-0 .link {
  font-size: 0.85rem;
}
#menu-0 .dropdown-item,
#menu-0 .nav-dropdown-sm .link {
  font-size: 0.921rem;
}
#menu-0 .link:hover,
#menu-0 .dropdown-item:hover,
#menu-0 .link:focus,
#menu-0 .dropdown-item:focus {
  color: #494259;
}
#menu-0 .link[aria-expanded="true"],
#menu-0 .dropdown-menu {
  background: #000000;
}
#menu-0 .nav-dropdown-sm .link:focus,
#menu-0 .nav-dropdown-sm .link:hover,
#menu-0 .nav-dropdown-sm .dropdown-item:focus,
#menu-0 .nav-dropdown-sm .dropdown-item:hover {
  background: #000000!important;
}
#menu-0 .navbar,
#menu-0 .nav-dropdown-sm,
#menu-0 .nav-dropdown-sm .link[aria-expanded="true"],
#menu-0 .nav-dropdown-sm .dropdown-menu {
  background: #000000;
}
#menu-0 .bg-color.transparent .link {
  color: #303134;
  transition: none;
}
#menu-0 .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-0 .bg-color.transparent.opened .link:hover,
#menu-0 .bg-color.transparent.opened .link:focus {
  color: #494259;
}
#menu-0 .link[aria-expanded="true"],
#menu-0 .dropdown-item[aria-expanded="true"] {
  color: #494259!important;
}
#menu-0.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#menu-0 .mbr-navbar__hamburger {
  color: #ffffff;
}
#menu-0 .close-icon::before,
#menu-0 .close-icon::after {
  background-color: #303134;
}
#footer1-5 P {
  color: #475577;
}


#features4-2m .card-subtitle {
  color: #bcbcbc;
}
#features4-2m .iconbox {
  background-color: #f2f2f2;
  border-color: #f2f2f2;
}
#features4-2m H4 {
  color: #000000;
}
#social-buttons1-1o .mbr-section-title {
  font-size: 14px;
  font-family: 'Open Sans Condensed', sans-serif;
  color: #303134;
}
#menu-1p .hide-buttons .nav-btn {
  display: none !important;
}
#menu-1p .navbar-caption {
  color: #ffffff;
}
#menu-1p .navbar-toggler {
  color: #303134;
}
#menu-1p .link,
#menu-1p .dropdown-item {
  color: #303134;
  font-family: 'Open Sans Condensed', sans-serif;
}
#menu-1p .link {
  font-size: 0.85rem;
}
#menu-1p .dropdown-item,
#menu-1p .nav-dropdown-sm .link {
  font-size: 0.921rem;
}
#menu-1p .link:hover,
#menu-1p .dropdown-item:hover,
#menu-1p .link:focus,
#menu-1p .dropdown-item:focus {
  color: #494259;
}
#menu-1p .link[aria-expanded="true"],
#menu-1p .dropdown-menu {
  background: #000000;
}
#menu-1p .nav-dropdown-sm .link:focus,
#menu-1p .nav-dropdown-sm .link:hover,
#menu-1p .nav-dropdown-sm .dropdown-item:focus,
#menu-1p .nav-dropdown-sm .dropdown-item:hover {
  background: #000000!important;
}
#menu-1p .navbar,
#menu-1p .nav-dropdown-sm,
#menu-1p .nav-dropdown-sm .link[aria-expanded="true"],
#menu-1p .nav-dropdown-sm .dropdown-menu {
  background: #000000;
}
#menu-1p .bg-color.transparent .link {
  color: #303134;
  transition: none;
}
#menu-1p .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-1p .bg-color.transparent.opened .link:hover,
#menu-1p .bg-color.transparent.opened .link:focus {
  color: #494259;
}
#menu-1p .link[aria-expanded="true"],
#menu-1p .dropdown-item[aria-expanded="true"] {
  color: #494259!important;
}
#menu-1p.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#menu-1p .mbr-navbar__hamburger {
  color: #ffffff;
}
#menu-1p .close-icon::before,
#menu-1p .close-icon::after {
  background-color: #303134;
}
#footer1-1q P {
  color: #475577;
}



#features4-2s .card-subtitle {
  color: #bcbcbc;
}
#features4-2s .iconbox {
  background-color: #f2f2f2;
  border-color: #f2f2f2;
}
#features4-2s H4 {
  color: #303134;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 16px;
}
#menu-0 .hide-buttons .nav-btn {
  display: none !important;
}
#menu-0 .navbar-caption {
  color: #ffffff;
}
#menu-0 .navbar-toggler {
  color: #303134;
}
#menu-0 .link,
#menu-0 .dropdown-item {
  color: #303134;
  font-family: 'Open Sans Condensed', sans-serif;
}
#menu-0 .link {
  font-size: 0.85rem;
}
#menu-0 .dropdown-item,
#menu-0 .nav-dropdown-sm .link {
  font-size: 0.921rem;
}
#menu-0 .link:hover,
#menu-0 .dropdown-item:hover,
#menu-0 .link:focus,
#menu-0 .dropdown-item:focus {
  color: #494259;
}
#menu-0 .link[aria-expanded="true"],
#menu-0 .dropdown-menu {
  background: #000000;
}
#menu-0 .nav-dropdown-sm .link:focus,
#menu-0 .nav-dropdown-sm .link:hover,
#menu-0 .nav-dropdown-sm .dropdown-item:focus,
#menu-0 .nav-dropdown-sm .dropdown-item:hover {
  background: #000000!important;
}
#menu-0 .navbar,
#menu-0 .nav-dropdown-sm,
#menu-0 .nav-dropdown-sm .link[aria-expanded="true"],
#menu-0 .nav-dropdown-sm .dropdown-menu {
  background: #000000;
}
#menu-0 .bg-color.transparent .link {
  color: #303134;
  transition: none;
}
#menu-0 .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-0 .bg-color.transparent.opened .link:hover,
#menu-0 .bg-color.transparent.opened .link:focus {
  color: #494259;
}
#menu-0 .link[aria-expanded="true"],
#menu-0 .dropdown-item[aria-expanded="true"] {
  color: #494259!important;
}
#menu-0.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#menu-0 .mbr-navbar__hamburger {
  color: #ffffff;
}
#menu-0 .close-icon::before,
#menu-0 .close-icon::after {
  background-color: #303134;
}
#social-buttons1-12 .mbr-section-title {
  font-size: 14px;
  font-family: 'Open Sans Condensed', sans-serif;
  color: #303134;
}
#footer1-5 P {
  color: #475577;
}



#features4-4c .card-subtitle {
  color: #bcbcbc;
}
#features4-4c .iconbox {
  background-color: #f2f2f2;
  border-color: #f2f2f2;
}
#features4-4c H4 {
  color: #303134;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 16px;
}
#social-buttons1-16 .mbr-section-title {
  font-size: 14px;
  font-family: 'Open Sans Condensed', sans-serif;
  color: #303134;
}
#menu-0 .hide-buttons .nav-btn {
  display: none !important;
}
#menu-0 .navbar-caption {
  color: #ffffff;
}
#menu-0 .navbar-toggler {
  color: #303134;
}
#menu-0 .link,
#menu-0 .dropdown-item {
  color: #303134;
  font-family: 'Open Sans Condensed', sans-serif;
}
#menu-0 .link {
  font-size: 0.85rem;
}
#menu-0 .dropdown-item,
#menu-0 .nav-dropdown-sm .link {
  font-size: 0.921rem;
}
#menu-0 .link:hover,
#menu-0 .dropdown-item:hover,
#menu-0 .link:focus,
#menu-0 .dropdown-item:focus {
  color: #494259;
}
#menu-0 .link[aria-expanded="true"],
#menu-0 .dropdown-menu {
  background: #000000;
}
#menu-0 .nav-dropdown-sm .link:focus,
#menu-0 .nav-dropdown-sm .link:hover,
#menu-0 .nav-dropdown-sm .dropdown-item:focus,
#menu-0 .nav-dropdown-sm .dropdown-item:hover {
  background: #000000!important;
}
#menu-0 .navbar,
#menu-0 .nav-dropdown-sm,
#menu-0 .nav-dropdown-sm .link[aria-expanded="true"],
#menu-0 .nav-dropdown-sm .dropdown-menu {
  background: #000000;
}
#menu-0 .bg-color.transparent .link {
  color: #303134;
  transition: none;
}
#menu-0 .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-0 .bg-color.transparent.opened .link:hover,
#menu-0 .bg-color.transparent.opened .link:focus {
  color: #494259;
}
#menu-0 .link[aria-expanded="true"],
#menu-0 .dropdown-item[aria-expanded="true"] {
  color: #494259!important;
}
#menu-0.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#menu-0 .mbr-navbar__hamburger {
  color: #ffffff;
}
#menu-0 .close-icon::before,
#menu-0 .close-icon::after {
  background-color: #303134;
}
#footer1-5 P {
  color: #475577;
}



#features4-4d .card-subtitle {
  color: #bcbcbc;
}
#features4-4d .iconbox {
  background-color: #f2f2f2;
  border-color: #f2f2f2;
}
#features4-4d H4 {
  color: #303134;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 16px;
}
#social-buttons1-1t .mbr-section-title {
  font-size: 14px;
  font-family: 'Open Sans Condensed', sans-serif;
  color: #303134;
}
#menu-1u .hide-buttons .nav-btn {
  display: none !important;
}
#menu-1u .navbar-caption {
  color: #ffffff;
}
#menu-1u .navbar-toggler {
  color: #303134;
}
#menu-1u .link,
#menu-1u .dropdown-item {
  color: #303134;
  font-family: 'Open Sans Condensed', sans-serif;
}
#menu-1u .link {
  font-size: 0.85rem;
}
#menu-1u .dropdown-item,
#menu-1u .nav-dropdown-sm .link {
  font-size: 0.921rem;
}
#menu-1u .link:hover,
#menu-1u .dropdown-item:hover,
#menu-1u .link:focus,
#menu-1u .dropdown-item:focus {
  color: #494259;
}
#menu-1u .link[aria-expanded="true"],
#menu-1u .dropdown-menu {
  background: #000000;
}
#menu-1u .nav-dropdown-sm .link:focus,
#menu-1u .nav-dropdown-sm .link:hover,
#menu-1u .nav-dropdown-sm .dropdown-item:focus,
#menu-1u .nav-dropdown-sm .dropdown-item:hover {
  background: #000000!important;
}
#menu-1u .navbar,
#menu-1u .nav-dropdown-sm,
#menu-1u .nav-dropdown-sm .link[aria-expanded="true"],
#menu-1u .nav-dropdown-sm .dropdown-menu {
  background: #000000;
}
#menu-1u .bg-color.transparent .link {
  color: #303134;
  transition: none;
}
#menu-1u .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-1u .bg-color.transparent.opened .link:hover,
#menu-1u .bg-color.transparent.opened .link:focus {
  color: #494259;
}
#menu-1u .link[aria-expanded="true"],
#menu-1u .dropdown-item[aria-expanded="true"] {
  color: #494259!important;
}
#menu-1u.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#menu-1u .mbr-navbar__hamburger {
  color: #ffffff;
}
#menu-1u .close-icon::before,
#menu-1u .close-icon::after {
  background-color: #303134;
}
#footer1-1v P {
  color: #475577;
}



#features4-4e .card-subtitle {
  color: #bcbcbc;
}
#features4-4e .iconbox {
  background-color: #f2f2f2;
  border-color: #f2f2f2;
}
#features4-4e H4 {
  color: #303134;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 16px;
}
#social-buttons1-19 .mbr-section-title {
  font-size: 14px;
  font-family: 'Open Sans Condensed', sans-serif;
  color: #303134;
}
#menu-0 .hide-buttons .nav-btn {
  display: none !important;
}
#menu-0 .navbar-caption {
  color: #ffffff;
}
#menu-0 .navbar-toggler {
  color: #303134;
}
#menu-0 .link,
#menu-0 .dropdown-item {
  color: #303134;
  font-family: 'Open Sans Condensed', sans-serif;
}
#menu-0 .link {
  font-size: 0.85rem;
}
#menu-0 .dropdown-item,
#menu-0 .nav-dropdown-sm .link {
  font-size: 0.921rem;
}
#menu-0 .link:hover,
#menu-0 .dropdown-item:hover,
#menu-0 .link:focus,
#menu-0 .dropdown-item:focus {
  color: #494259;
}
#menu-0 .link[aria-expanded="true"],
#menu-0 .dropdown-menu {
  background: #000000;
}
#menu-0 .nav-dropdown-sm .link:focus,
#menu-0 .nav-dropdown-sm .link:hover,
#menu-0 .nav-dropdown-sm .dropdown-item:focus,
#menu-0 .nav-dropdown-sm .dropdown-item:hover {
  background: #000000!important;
}
#menu-0 .navbar,
#menu-0 .nav-dropdown-sm,
#menu-0 .nav-dropdown-sm .link[aria-expanded="true"],
#menu-0 .nav-dropdown-sm .dropdown-menu {
  background: #000000;
}
#menu-0 .bg-color.transparent .link {
  color: #303134;
  transition: none;
}
#menu-0 .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-0 .bg-color.transparent.opened .link:hover,
#menu-0 .bg-color.transparent.opened .link:focus {
  color: #494259;
}
#menu-0 .link[aria-expanded="true"],
#menu-0 .dropdown-item[aria-expanded="true"] {
  color: #494259!important;
}
#menu-0.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#menu-0 .mbr-navbar__hamburger {
  color: #ffffff;
}
#menu-0 .close-icon::before,
#menu-0 .close-icon::after {
  background-color: #303134;
}
#footer1-5 P {
  color: #475577;
}



#features4-4f .card-subtitle {
  color: #bcbcbc;
}
#features4-4f .iconbox {
  background-color: #f2f2f2;
  border-color: #f2f2f2;
}
#features4-4f H4 {
  color: #303134;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 16px;
}
#social-buttons1-1y .mbr-section-title {
  font-size: 14px;
  font-family: 'Open Sans Condensed', sans-serif;
  color: #303134;
}
#menu-1z .hide-buttons .nav-btn {
  display: none !important;
}
#menu-1z .navbar-caption {
  color: #ffffff;
}
#menu-1z .navbar-toggler {
  color: #303134;
}
#menu-1z .link,
#menu-1z .dropdown-item {
  color: #303134;
  font-family: 'Open Sans Condensed', sans-serif;
}
#menu-1z .link {
  font-size: 0.85rem;
}
#menu-1z .dropdown-item,
#menu-1z .nav-dropdown-sm .link {
  font-size: 0.921rem;
}
#menu-1z .link:hover,
#menu-1z .dropdown-item:hover,
#menu-1z .link:focus,
#menu-1z .dropdown-item:focus {
  color: #494259;
}
#menu-1z .link[aria-expanded="true"],
#menu-1z .dropdown-menu {
  background: #000000;
}
#menu-1z .nav-dropdown-sm .link:focus,
#menu-1z .nav-dropdown-sm .link:hover,
#menu-1z .nav-dropdown-sm .dropdown-item:focus,
#menu-1z .nav-dropdown-sm .dropdown-item:hover {
  background: #000000!important;
}
#menu-1z .navbar,
#menu-1z .nav-dropdown-sm,
#menu-1z .nav-dropdown-sm .link[aria-expanded="true"],
#menu-1z .nav-dropdown-sm .dropdown-menu {
  background: #000000;
}
#menu-1z .bg-color.transparent .link {
  color: #303134;
  transition: none;
}
#menu-1z .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-1z .bg-color.transparent.opened .link:hover,
#menu-1z .bg-color.transparent.opened .link:focus {
  color: #494259;
}
#menu-1z .link[aria-expanded="true"],
#menu-1z .dropdown-item[aria-expanded="true"] {
  color: #494259!important;
}
#menu-1z.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#menu-1z .mbr-navbar__hamburger {
  color: #ffffff;
}
#menu-1z .close-icon::before,
#menu-1z .close-icon::after {
  background-color: #303134;
}
#footer1-20 P {
  color: #475577;
}




#footer1-3 P {
  color: #475577;
}
#content5-b .mbr-section-title,
#content5-b p {
  color: #fff;
}
#content5-b DIV {
  color: #ffffff;
}
#content5-b P {
  color: #000000;
}
#content5-b .mbr-section-title {
  color: #000000;
  text-align: left;
  font-size: 25px;
  font-family: 'Open Sans Condensed', sans-serif;
}
#content5-b .mbr-section-title SPAN {
  font-family: 'Lato', sans-serif;
  font-size: 17px;
  text-align: left;
  color: #303134;
}
#social-buttons1-e .mbr-section-title {
  font-size: 14px;
  font-family: 'Open Sans Condensed', sans-serif;
  color: #303134;
}
#menu-0 .hide-buttons .nav-btn {
  display: none !important;
}
#menu-0 .navbar-caption {
  color: #ffffff;
}
#menu-0 .navbar-toggler {
  color: #303134;
}
#menu-0 .link,
#menu-0 .dropdown-item {
  color: #303134;
  font-family: 'Open Sans Condensed', sans-serif;
}
#menu-0 .link {
  font-size: 0.85rem;
}
#menu-0 .dropdown-item,
#menu-0 .nav-dropdown-sm .link {
  font-size: 0.921rem;
}
#menu-0 .link:hover,
#menu-0 .dropdown-item:hover,
#menu-0 .link:focus,
#menu-0 .dropdown-item:focus {
  color: #494259;
}
#menu-0 .link[aria-expanded="true"],
#menu-0 .dropdown-menu {
  background: #000000;
}
#menu-0 .nav-dropdown-sm .link:focus,
#menu-0 .nav-dropdown-sm .link:hover,
#menu-0 .nav-dropdown-sm .dropdown-item:focus,
#menu-0 .nav-dropdown-sm .dropdown-item:hover {
  background: #000000!important;
}
#menu-0 .navbar,
#menu-0 .nav-dropdown-sm,
#menu-0 .nav-dropdown-sm .link[aria-expanded="true"],
#menu-0 .nav-dropdown-sm .dropdown-menu {
  background: #000000;
}
#menu-0 .bg-color.transparent .link {
  color: #303134;
  transition: none;
}
#menu-0 .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-0 .bg-color.transparent.opened .link:hover,
#menu-0 .bg-color.transparent.opened .link:focus {
  color: #494259;
}
#menu-0 .link[aria-expanded="true"],
#menu-0 .dropdown-item[aria-expanded="true"] {
  color: #494259!important;
}
#menu-0.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#menu-0 .mbr-navbar__hamburger {
  color: #ffffff;
}
#menu-0 .close-icon::before,
#menu-0 .close-icon::after {
  background-color: #303134;
}




#footer1-5 P {
  color: #475577;
}
#form1-c .form-control-label {
  color: #303134;
}
#form1-c SMALL {
  font-family: 'Open Sans Condensed', sans-serif;
  color: #303134;
}
#form1-c .mbr-section-title {
  font-family: 'Open Sans Condensed', sans-serif;
}
#form1-c .mbr-section-title SPAN {
  font-size: 36px;
}
#form1-c .btn {
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 14px;
}
#menu-0 .hide-buttons .nav-btn {
  display: none !important;
}
#menu-0 .navbar-caption {
  color: #ffffff;
}
#menu-0 .navbar-toggler {
  color: #303134;
}
#menu-0 .link,
#menu-0 .dropdown-item {
  color: #303134;
  font-family: 'Open Sans Condensed', sans-serif;
}
#menu-0 .link {
  font-size: 0.85rem;
}
#menu-0 .dropdown-item,
#menu-0 .nav-dropdown-sm .link {
  font-size: 0.921rem;
}
#menu-0 .link:hover,
#menu-0 .dropdown-item:hover,
#menu-0 .link:focus,
#menu-0 .dropdown-item:focus {
  color: #494259;
}
#menu-0 .link[aria-expanded="true"],
#menu-0 .dropdown-menu {
  background: #000000;
}
#menu-0 .nav-dropdown-sm .link:focus,
#menu-0 .nav-dropdown-sm .link:hover,
#menu-0 .nav-dropdown-sm .dropdown-item:focus,
#menu-0 .nav-dropdown-sm .dropdown-item:hover {
  background: #000000!important;
}
#menu-0 .navbar,
#menu-0 .nav-dropdown-sm,
#menu-0 .nav-dropdown-sm .link[aria-expanded="true"],
#menu-0 .nav-dropdown-sm .dropdown-menu {
  background: #000000;
}
#menu-0 .bg-color.transparent .link {
  color: #303134;
  transition: none;
}
#menu-0 .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-0 .bg-color.transparent.opened .link:hover,
#menu-0 .bg-color.transparent.opened .link:focus {
  color: #494259;
}
#menu-0 .link[aria-expanded="true"],
#menu-0 .dropdown-item[aria-expanded="true"] {
  color: #494259!important;
}
#menu-0.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#menu-0 .mbr-navbar__hamburger {
  color: #ffffff;
}
#menu-0 .close-icon::before,
#menu-0 .close-icon::after {
  background-color: #303134;
}



#footer1-28 P {
  color: #475577;
}
#menu-29 .hide-buttons .nav-btn {
  display: none !important;
}
#menu-29 .navbar-caption {
  color: #ffffff;
}
#menu-29 .navbar-toggler {
  color: #303134;
}
#menu-29 .link,
#menu-29 .dropdown-item {
  color: #303134;
  font-family: 'Open Sans Condensed', sans-serif;
}
#menu-29 .link {
  font-size: 0.85rem;
}
#menu-29 .dropdown-item,
#menu-29 .nav-dropdown-sm .link {
  font-size: 0.921rem;
}
#menu-29 .link:hover,
#menu-29 .dropdown-item:hover,
#menu-29 .link:focus,
#menu-29 .dropdown-item:focus {
  color: #494259;
}
#menu-29 .link[aria-expanded="true"],
#menu-29 .dropdown-menu {
  background: #000000;
}
#menu-29 .nav-dropdown-sm .link:focus,
#menu-29 .nav-dropdown-sm .link:hover,
#menu-29 .nav-dropdown-sm .dropdown-item:focus,
#menu-29 .nav-dropdown-sm .dropdown-item:hover {
  background: #000000!important;
}
#menu-29 .navbar,
#menu-29 .nav-dropdown-sm,
#menu-29 .nav-dropdown-sm .link[aria-expanded="true"],
#menu-29 .nav-dropdown-sm .dropdown-menu {
  background: #000000;
}
#menu-29 .bg-color.transparent .link {
  color: #303134;
  transition: none;
}
#menu-29 .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-29 .bg-color.transparent.opened .link:hover,
#menu-29 .bg-color.transparent.opened .link:focus {
  color: #494259;
}
#menu-29 .link[aria-expanded="true"],
#menu-29 .dropdown-item[aria-expanded="true"] {
  color: #494259!important;
}
#menu-29.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#menu-29 .mbr-navbar__hamburger {
  color: #ffffff;
}
#menu-29 .close-icon::before,
#menu-29 .close-icon::after {
  background-color: #303134;
}
#header3-2a .mbr-section-title,
#header3-2a .mbr-section-subtitle {
  text-align: center;
}
#header3-2a SPAN {
  font-size: 32px;
  font-family: 'Open Sans Condensed', sans-serif;
  color: #494259;
}
#header3-2a .mbr-section-title SPAN {
  color: #494259;
}
#header3-2a SMALL {
  font-family: 'Lato', sans-serif;
}




#header1-1 .mbr-section-title {
  text-align: left;
  font-family: 'Slabo 27px', serif;
  font-size: 80px;
  color: #494259;
}
#header1-1 .mbr-section-title SPAN {
  font-family: 'Open Sans Condensed', sans-serif;
  color: #303134;
}
#footer1-2 P {
  color: #475577;
}
#menu-0 .hide-buttons .nav-btn {
  display: none !important;
}
#menu-0 .navbar-caption {
  color: #ffffff;
}
#menu-0 .navbar-toggler {
  color: #303134;
}
#menu-0 .link,
#menu-0 .dropdown-item {
  color: #303134;
  font-family: 'Open Sans Condensed', sans-serif;
}
#menu-0 .link {
  font-size: 0.85rem;
}
#menu-0 .dropdown-item,
#menu-0 .nav-dropdown-sm .link {
  font-size: 0.921rem;
}
#menu-0 .link:hover,
#menu-0 .dropdown-item:hover,
#menu-0 .link:focus,
#menu-0 .dropdown-item:focus {
  color: #494259;
}
#menu-0 .link[aria-expanded="true"],
#menu-0 .dropdown-menu {
  background: #000000;
}
#menu-0 .nav-dropdown-sm .link:focus,
#menu-0 .nav-dropdown-sm .link:hover,
#menu-0 .nav-dropdown-sm .dropdown-item:focus,
#menu-0 .nav-dropdown-sm .dropdown-item:hover {
  background: #000000!important;
}
#menu-0 .navbar,
#menu-0 .nav-dropdown-sm,
#menu-0 .nav-dropdown-sm .link[aria-expanded="true"],
#menu-0 .nav-dropdown-sm .dropdown-menu {
  background: #000000;
}
#menu-0 .bg-color.transparent .link {
  color: #303134;
  transition: none;
}
#menu-0 .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-0 .bg-color.transparent.opened .link:hover,
#menu-0 .bg-color.transparent.opened .link:focus {
  color: #494259;
}
#menu-0 .link[aria-expanded="true"],
#menu-0 .dropdown-item[aria-expanded="true"] {
  color: #494259!important;
}
#menu-0.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#menu-0 .mbr-navbar__hamburger {
  color: #ffffff;
}
#menu-0 .close-icon::before,
#menu-0 .close-icon::after {
  background-color: #303134;
}
#social-buttons1-1g .mbr-section-title {
  font-size: 14px;
  text-align: center;
  font-family: 'Open Sans Condensed', sans-serif;
  color: #efefef;
}



#features4-4g .card-subtitle {
  color: #bcbcbc;
}
#features4-4g .iconbox {
  background-color: #f2f2f2;
  border-color: #f2f2f2;
}
#features4-4g H4 {
  color: #303134;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 16px;
}
#menu-2y .hide-buttons .nav-btn {
  display: none !important;
}
#menu-2y .navbar-caption {
  color: #ffffff;
}
#menu-2y .navbar-toggler {
  color: #303134;
}
#menu-2y .link,
#menu-2y .dropdown-item {
  color: #303134;
  font-family: 'Open Sans Condensed', sans-serif;
}
#menu-2y .link {
  font-size: 0.85rem;
}
#menu-2y .dropdown-item,
#menu-2y .nav-dropdown-sm .link {
  font-size: 0.921rem;
}
#menu-2y .link:hover,
#menu-2y .dropdown-item:hover,
#menu-2y .link:focus,
#menu-2y .dropdown-item:focus {
  color: #494259;
}
#menu-2y .link[aria-expanded="true"],
#menu-2y .dropdown-menu {
  background: #000000;
}
#menu-2y .nav-dropdown-sm .link:focus,
#menu-2y .nav-dropdown-sm .link:hover,
#menu-2y .nav-dropdown-sm .dropdown-item:focus,
#menu-2y .nav-dropdown-sm .dropdown-item:hover {
  background: #000000!important;
}
#menu-2y .navbar,
#menu-2y .nav-dropdown-sm,
#menu-2y .nav-dropdown-sm .link[aria-expanded="true"],
#menu-2y .nav-dropdown-sm .dropdown-menu {
  background: #000000;
}
#menu-2y .bg-color.transparent .link {
  color: #303134;
  transition: none;
}
#menu-2y .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-2y .bg-color.transparent.opened .link:hover,
#menu-2y .bg-color.transparent.opened .link:focus {
  color: #494259;
}
#menu-2y .link[aria-expanded="true"],
#menu-2y .dropdown-item[aria-expanded="true"] {
  color: #494259!important;
}
#menu-2y.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#menu-2y .mbr-navbar__hamburger {
  color: #ffffff;
}
#menu-2y .close-icon::before,
#menu-2y .close-icon::after {
  background-color: #303134;
}
#footer1-2z P {
  color: #475577;
}
#social-buttons1-3n .mbr-section-title {
  font-size: 14px;
  font-family: 'Open Sans Condensed', sans-serif;
  color: #303134;
}

#menu-38 .hide-buttons .nav-btn {
  display: none !important;
}
#menu-38 .navbar-caption {
  color: #ffffff;
}
#menu-38 .navbar-toggler {
  color: #303134;
}
#menu-38 .link,
#menu-38 .dropdown-item {
  color: #303134;
  font-family: 'Open Sans Condensed', sans-serif;
}
#menu-38 .link {
  font-size: 0.85rem;
}
#menu-38 .dropdown-item,
#menu-38 .nav-dropdown-sm .link {
  font-size: 0.921rem;
}
#menu-38 .link:hover,
#menu-38 .dropdown-item:hover,
#menu-38 .link:focus,
#menu-38 .dropdown-item:focus {
  color: #494259;
}
#menu-38 .link[aria-expanded="true"],
#menu-38 .dropdown-menu {
  background: #000000;
}
#menu-38 .nav-dropdown-sm .link:focus,
#menu-38 .nav-dropdown-sm .link:hover,
#menu-38 .nav-dropdown-sm .dropdown-item:focus,
#menu-38 .nav-dropdown-sm .dropdown-item:hover {
  background: #000000!important;
}
#menu-38 .navbar,
#menu-38 .nav-dropdown-sm,
#menu-38 .nav-dropdown-sm .link[aria-expanded="true"],
#menu-38 .nav-dropdown-sm .dropdown-menu {
  background: #000000;
}
#menu-38 .bg-color.transparent .link {
  color: #303134;
  transition: none;
}
#menu-38 .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-38 .bg-color.transparent.opened .link:hover,
#menu-38 .bg-color.transparent.opened .link:focus {
  color: #494259;
}
#menu-38 .link[aria-expanded="true"],
#menu-38 .dropdown-item[aria-expanded="true"] {
  color: #494259!important;
}
#menu-38.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#menu-38 .mbr-navbar__hamburger {
  color: #ffffff;
}
#menu-38 .close-icon::before,
#menu-38 .close-icon::after {
  background-color: #303134;
}
#footer1-39 P {
  color: #475577;
}

#menu-3a .hide-buttons .nav-btn {
  display: none !important;
}
#menu-3a .navbar-caption {
  color: #ffffff;
}
#menu-3a .navbar-toggler {
  color: #303134;
}
#menu-3a .link,
#menu-3a .dropdown-item {
  color: #303134;
  font-family: 'Open Sans Condensed', sans-serif;
}
#menu-3a .link {
  font-size: 0.85rem;
}
#menu-3a .dropdown-item,
#menu-3a .nav-dropdown-sm .link {
  font-size: 0.921rem;
}
#menu-3a .link:hover,
#menu-3a .dropdown-item:hover,
#menu-3a .link:focus,
#menu-3a .dropdown-item:focus {
  color: #494259;
}
#menu-3a .link[aria-expanded="true"],
#menu-3a .dropdown-menu {
  background: #000000;
}
#menu-3a .nav-dropdown-sm .link:focus,
#menu-3a .nav-dropdown-sm .link:hover,
#menu-3a .nav-dropdown-sm .dropdown-item:focus,
#menu-3a .nav-dropdown-sm .dropdown-item:hover {
  background: #000000!important;
}
#menu-3a .navbar,
#menu-3a .nav-dropdown-sm,
#menu-3a .nav-dropdown-sm .link[aria-expanded="true"],
#menu-3a .nav-dropdown-sm .dropdown-menu {
  background: #000000;
}
#menu-3a .bg-color.transparent .link {
  color: #303134;
  transition: none;
}
#menu-3a .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-3a .bg-color.transparent.opened .link:hover,
#menu-3a .bg-color.transparent.opened .link:focus {
  color: #494259;
}
#menu-3a .link[aria-expanded="true"],
#menu-3a .dropdown-item[aria-expanded="true"] {
  color: #494259!important;
}
#menu-3a.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#menu-3a .mbr-navbar__hamburger {
  color: #ffffff;
}
#menu-3a .close-icon::before,
#menu-3a .close-icon::after {
  background-color: #303134;
}
#footer1-3b P {
  color: #475577;
}

#menu-3e .hide-buttons .nav-btn {
  display: none !important;
}
#menu-3e .navbar-caption {
  color: #ffffff;
}
#menu-3e .navbar-toggler {
  color: #303134;
}
#menu-3e .link,
#menu-3e .dropdown-item {
  color: #303134;
  font-family: 'Open Sans Condensed', sans-serif;
}
#menu-3e .link {
  font-size: 0.85rem;
}
#menu-3e .dropdown-item,
#menu-3e .nav-dropdown-sm .link {
  font-size: 0.921rem;
}
#menu-3e .link:hover,
#menu-3e .dropdown-item:hover,
#menu-3e .link:focus,
#menu-3e .dropdown-item:focus {
  color: #494259;
}
#menu-3e .link[aria-expanded="true"],
#menu-3e .dropdown-menu {
  background: #000000;
}
#menu-3e .nav-dropdown-sm .link:focus,
#menu-3e .nav-dropdown-sm .link:hover,
#menu-3e .nav-dropdown-sm .dropdown-item:focus,
#menu-3e .nav-dropdown-sm .dropdown-item:hover {
  background: #000000!important;
}
#menu-3e .navbar,
#menu-3e .nav-dropdown-sm,
#menu-3e .nav-dropdown-sm .link[aria-expanded="true"],
#menu-3e .nav-dropdown-sm .dropdown-menu {
  background: #000000;
}
#menu-3e .bg-color.transparent .link {
  color: #303134;
  transition: none;
}
#menu-3e .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-3e .bg-color.transparent.opened .link:hover,
#menu-3e .bg-color.transparent.opened .link:focus {
  color: #494259;
}
#menu-3e .link[aria-expanded="true"],
#menu-3e .dropdown-item[aria-expanded="true"] {
  color: #494259!important;
}
#menu-3e.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#menu-3e .mbr-navbar__hamburger {
  color: #ffffff;
}
#menu-3e .close-icon::before,
#menu-3e .close-icon::after {
  background-color: #303134;
}
#footer1-3f P {
  color: #475577;
}

#menu-3g .hide-buttons .nav-btn {
  display: none !important;
}
#menu-3g .navbar-caption {
  color: #ffffff;
}
#menu-3g .navbar-toggler {
  color: #303134;
}
#menu-3g .link,
#menu-3g .dropdown-item {
  color: #303134;
  font-family: 'Open Sans Condensed', sans-serif;
}
#menu-3g .link {
  font-size: 0.85rem;
}
#menu-3g .dropdown-item,
#menu-3g .nav-dropdown-sm .link {
  font-size: 0.921rem;
}
#menu-3g .link:hover,
#menu-3g .dropdown-item:hover,
#menu-3g .link:focus,
#menu-3g .dropdown-item:focus {
  color: #494259;
}
#menu-3g .link[aria-expanded="true"],
#menu-3g .dropdown-menu {
  background: #000000;
}
#menu-3g .nav-dropdown-sm .link:focus,
#menu-3g .nav-dropdown-sm .link:hover,
#menu-3g .nav-dropdown-sm .dropdown-item:focus,
#menu-3g .nav-dropdown-sm .dropdown-item:hover {
  background: #000000!important;
}
#menu-3g .navbar,
#menu-3g .nav-dropdown-sm,
#menu-3g .nav-dropdown-sm .link[aria-expanded="true"],
#menu-3g .nav-dropdown-sm .dropdown-menu {
  background: #000000;
}
#menu-3g .bg-color.transparent .link {
  color: #303134;
  transition: none;
}
#menu-3g .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-3g .bg-color.transparent.opened .link:hover,
#menu-3g .bg-color.transparent.opened .link:focus {
  color: #494259;
}
#menu-3g .link[aria-expanded="true"],
#menu-3g .dropdown-item[aria-expanded="true"] {
  color: #494259!important;
}
#menu-3g.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#menu-3g .mbr-navbar__hamburger {
  color: #ffffff;
}
#menu-3g .close-icon::before,
#menu-3g .close-icon::after {
  background-color: #303134;
}
#footer1-3h P {
  color: #475577;
}



#features4-4b .card-subtitle {
  color: #bcbcbc;
}
#features4-4b .iconbox {
  background-color: #f2f2f2;
  border-color: #f2f2f2;
}
#features4-4b H4 {
  color: #303134;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 16px;
}
#menu-0 .hide-buttons .nav-btn {
  display: none !important;
}
#menu-0 .navbar-caption {
  color: #ffffff;
}
#menu-0 .navbar-toggler {
  color: #303134;
}
#menu-0 .link,
#menu-0 .dropdown-item {
  color: #303134;
  font-family: 'Open Sans Condensed', sans-serif;
}
#menu-0 .link {
  font-size: 0.85rem;
}
#menu-0 .dropdown-item,
#menu-0 .nav-dropdown-sm .link {
  font-size: 0.921rem;
}
#menu-0 .link:hover,
#menu-0 .dropdown-item:hover,
#menu-0 .link:focus,
#menu-0 .dropdown-item:focus {
  color: #494259;
}
#menu-0 .link[aria-expanded="true"],
#menu-0 .dropdown-menu {
  background: #000000;
}
#menu-0 .nav-dropdown-sm .link:focus,
#menu-0 .nav-dropdown-sm .link:hover,
#menu-0 .nav-dropdown-sm .dropdown-item:focus,
#menu-0 .nav-dropdown-sm .dropdown-item:hover {
  background: #000000!important;
}
#menu-0 .navbar,
#menu-0 .nav-dropdown-sm,
#menu-0 .nav-dropdown-sm .link[aria-expanded="true"],
#menu-0 .nav-dropdown-sm .dropdown-menu {
  background: #000000;
}
#menu-0 .bg-color.transparent .link {
  color: #303134;
  transition: none;
}
#menu-0 .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-0 .bg-color.transparent.opened .link:hover,
#menu-0 .bg-color.transparent.opened .link:focus {
  color: #494259;
}
#menu-0 .link[aria-expanded="true"],
#menu-0 .dropdown-item[aria-expanded="true"] {
  color: #494259!important;
}
#menu-0.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#menu-0 .mbr-navbar__hamburger {
  color: #ffffff;
}
#menu-0 .close-icon::before,
#menu-0 .close-icon::after {
  background-color: #303134;
}
#social-buttons1-1a .mbr-section-title {
  font-size: 14px;
  font-family: 'Open Sans Condensed', sans-serif;
  color: #303134;
}
#footer1-5 P {
  color: #475577;
}



#features4-4h .card-subtitle {
  color: #bcbcbc;
}
#features4-4h .iconbox {
  background-color: #f2f2f2;
  border-color: #f2f2f2;
}
#features4-4h H4 {
  color: #303134;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 16px;
}
#menu-47 .hide-buttons .nav-btn {
  display: none !important;
}
#menu-47 .navbar-caption {
  color: #ffffff;
}
#menu-47 .navbar-toggler {
  color: #303134;
}
#menu-47 .link,
#menu-47 .dropdown-item {
  color: #303134;
  font-family: 'Open Sans Condensed', sans-serif;
}
#menu-47 .link {
  font-size: 0.85rem;
}
#menu-47 .dropdown-item,
#menu-47 .nav-dropdown-sm .link {
  font-size: 0.921rem;
}
#menu-47 .link:hover,
#menu-47 .dropdown-item:hover,
#menu-47 .link:focus,
#menu-47 .dropdown-item:focus {
  color: #494259;
}
#menu-47 .link[aria-expanded="true"],
#menu-47 .dropdown-menu {
  background: #000000;
}
#menu-47 .nav-dropdown-sm .link:focus,
#menu-47 .nav-dropdown-sm .link:hover,
#menu-47 .nav-dropdown-sm .dropdown-item:focus,
#menu-47 .nav-dropdown-sm .dropdown-item:hover {
  background: #000000!important;
}
#menu-47 .navbar,
#menu-47 .nav-dropdown-sm,
#menu-47 .nav-dropdown-sm .link[aria-expanded="true"],
#menu-47 .nav-dropdown-sm .dropdown-menu {
  background: #000000;
}
#menu-47 .bg-color.transparent .link {
  color: #303134;
  transition: none;
}
#menu-47 .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-47 .bg-color.transparent.opened .link:hover,
#menu-47 .bg-color.transparent.opened .link:focus {
  color: #494259;
}
#menu-47 .link[aria-expanded="true"],
#menu-47 .dropdown-item[aria-expanded="true"] {
  color: #494259!important;
}
#menu-47.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#menu-47 .mbr-navbar__hamburger {
  color: #ffffff;
}
#menu-47 .close-icon::before,
#menu-47 .close-icon::after {
  background-color: #303134;
}
#footer1-48 P {
  color: #475577;
}
#social-buttons1-4a .mbr-section-title {
  font-size: 14px;
  font-family: 'Open Sans Condensed', sans-serif;
  color: #303134;
}
